$color-d1-a: black;
$header-bg: "../img/4.jpg";

$image-cards: ("2": "../img/5.jpeg", "3": "../img/6.jpg", "4": "../img/7.jpg");
$cards-h-color:#9f86a2;

$reviews-bg: #8a6f8d;
$review-box-bg: #caa2cb;
$review-h-color: #ca9cb7;

$find-tower-bg: #9f86a2;
$find-tower-h2-color: #4e2c66;


$footer-bg: #5d3d85;
$footer-h3-color: #b965fe;
$footer-p-color: #520a5e;
$footer-a-color: #8a46de;
$footer-btn: #4f0a5e;

$font: 'Source Sans Pro', sans-serif;
$font-weights: ("regular": 400, "medium": 500, "bold": 700);