$color-d1-a: #c1d1df;
$header-bg: "../img/0.jpg";

$image-cards: ("2": "../img/1.jpg", "3": "../img/2.jpg", "4": "../img/3.jpg");
$cards-h-color:#8695a2;

$reviews-bg: #8d6f79;
$review-box-bg: #cba2b0;
$review-h-color: #cba2b0;

$find-tower-bg: #8695a2;
$find-tower-h2-color: #b9cbd9;

$footer-bg: #3d5585;
$footer-h3-color: #5191fe;
$footer-p-color: #0e2b5e;
$footer-a-color: #4574cb;
$footer-btn: #0a275e;

$font: 'Source Sans Pro', sans-serif;
$font-weights: ("regular": 400, "medium": 500, "bold": 700);